.body-part input {
  padding: 0px 6px;
}
.reset-logo {
  width: 250px;
}
.header-part-reset {
  display: flex;
  justify-content: space-between;
}
.body-part {
  margin-top: 30px;
}
.innter-container {
  position: relative;
  height: auto;
}
.date-div {
  position: absolute;
  right: 0;
}
.inner-field {
  border-bottom: dotted;
}
.body-innter,
.name-field {
  display: flex;
}
.main-containerr{
  border: 1px solid #000;
  padding: 80px;
  width: 1000px;
  margin: auto;
}
.innter-container {
  width: 770px;
  margin: auto;
  flex-wrap: wrap;
}
.name-field {
  display: flex;
  margin-top: 10px;
}

.date-width{
  width: 74%;
}

.name-width {
  width: 50%;
}
.age-width{
  width: 30%;
}
.sex-width {
  width: 20%;
}



.address-width {
  width: 450px;
}
.height-width{
  width: 35%;
}



.email-width {
  width: 450px;
}
.phone-width{
  width: 30%;
}


.reference-width{
  width: 18%;
}
.aes {
  margin-top: 30px;
}
.aesthetic {
  width: 410px;
}


.yes {
  margin-right: 1px;
  color: #ff0077;
}
.no {
  margin-left: 10px;
}
.cigarettes {
  margin-top: 30px;
  font-weight: bold;
}
.cigarettes label {
  margin-right: 9px;
}
.conditions {
  margin-top: 20px;
}
.message {
  margin-top: 30px;
  font-weight: bold;
}
.message-text {
  width: 100%;
  background-color: #ffb6e2;
  opacity: 0.3;
  padding: 28px 5px;
  margin-top: 7px;
}
.inner-condition input[type="checkbox"]  {
  accent-color: #ff0077;
  margin-right: 9px;
  border: 2px solid #ff0077;
}
.inner-condition {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 8px 12px; /* 8px row gap, 12px column gap */
  margin-top: 10px;
}
.download-btn{
  border: 1px solid #ff0077;
  padding: 9px 19px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #ff0077;
  color: #ffffff;
}