/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "demos/demo1";

.logo{
    width: 160px;
}

.custom-right-botton{
    margin-right: 10px !important;
}

.border-color{
    color: rgb(251, 37, 115);
}
