/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "demos/demo1";

.logo{
    width: 160px;
}

.custom-right-botton{
    margin-right: 10px !important;
}

.btn-primary-custom{
    background-color: rgb(251, 37, 115);
    color: #fff;
    cursor: pointer;
}
.btn-primary-custom:hover{
    background-color: rgb(251, 37, 115) !important;
}

:focus{
    outline: none;
}

.custom-btn-all{
    background-color: rgb(251, 37, 115) !important;
}
