.doc-header-logo{
    height:50px;
    width:200px;
}
.inner-doctor-container{
    width: 800px;
    margin: auto;
    padding: 40px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.doctor-Header{
    display: flex;
    justify-content: space-between;
}
.doctor-field-border{
    border-bottom: 1px dotted #000;
}
.inner-clinet-info{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.doctor-body-part{
    height: 600px;
    margin-top:30px;
    border-top:1px solid #000;
    display: flex;
    justify-content: space-between;
}
.left-doctor-body-part{
    border-right: 1px solid #000;
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}
.right-doctor-body-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    width: 350px;
}
.doctor-information h2{
    font-size: 25px;
    font-weight: 700;
    color: #a0a0a0;
}
.doctor-information p{
    font-size: 17px;
    font-weight: 300;
    color: #a0a0a0;
}
.main-doctor-container h1{
    color: rgb(251, 37, 115);
    font-size:30px;
    font-weight: 500;
    text-align: center;
}
.main-doctor-container h3{
    color: rgb(251, 37, 115);
    font-size:20px;
    font-weight: 400;
    text-align: center;
    margin: 13px 0;
}